#hello {
  background: rgb(39, 38, 38);
}
#cr {
  background: #faf9f9;
}
#txt {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#imagen {
  background: rgb(255, 255, 255);
  box-shadow: 3px 2px black;
}
#edit {
  color: white;
  background: rgb(0, 94, 5);
}
#del {
  color: white;
  background: rgb(100, 0, 0);
}