body {
  background-image: url('https://www.unitedwebagency.com/design_custom/assets/BG%20top.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: contain ;
  

}